name: Build and Publish to PyPI

on:
  push:
    tags:
      - 'v*'
    paths:
      - 'pyproject.toml'
      - 'poetry.lock'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          export PATH="$HOME/.local/bin:$PATH"
          poetry config virtualenvs.create false

      - name: Install Dependencies and Build Package
        run: |
          poetry self add "poetry-dynamic-versioning[plugin]"
          poetry install
          poetry build

      - name: Publish Package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}